/*--------------------------------------------General*/

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------------------------Header*/

.header-img {
    background-color: #252530;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu-text {
    margin-top: 0%;
    text-align: center;
    padding-top: 10px;
    color: #adadad;
    font-size: large;
}

.menu-bg-color {
    background-color: #252530;
    height: 40px;
}

.menu-options:hover {
    background-color: #adadad;
    color: #252530;
    transition: 0.5s;
}

.nav {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------Section (results)*/

section {
    background-color: #adadad;
    color: #252530;
    padding: 0;
    margin-right: 0px;
    width: 100%;
}

.stage {
    font-size: 2em;
}

.team-left {
    text-align: right;
}

.team-right {
    text-align: left;
}

.score {
    font-weight: bolder;
    padding-top: 30px;

}

.fight-result {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gamepad {
    font-size: 1.5em;
}

/*--------------------------------------------Section (Teams)*/

.team-name {
    padding-top: 10px;
    padding-left: 50px;
}

.player-img {
    text-align: center;
    padding: 10px;
}

.player-name {
    text-align: center;
}

/*--------------------------------------------Section (About)*/

.disclaimer {
    font-size: smaller;
    padding-bottom: 15px;
}

.question {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 140px;
}

.answer {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}

.abt-inverted {
    background-color: #969696;
    color: #252530
}

/*--------------------------------------------Footer*/

footer {
    background-color: #252530;
    color: #adadad;
}

.footer-text {
    padding-left: 50px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #252530;
    background: #adadad;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #252530;
    color: #adadad;
}


/*--------------------------------------------Media*/

@media(max-width: 992px) {
    .fight-results-mobile {
        position: center;
    }
    .team-left {
        text-align: center
    }
    .team-right {
        text-align: center;
    }
    .score {
        font-weight: bolder;
        padding-top: 30px;
        padding-bottom: 30px;

    }
    .how-get-money {
        display: none;
    }
    .team-logo {
        display: none;
    }
    .teams-logo {
        text-align: center;
    }
    .question {
        text-align: 40%;
    }
    .fight-info-btn {
        margin-top: 10px;
    }
}
